<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="title" content="{{externalTitle|e}}"/>
    <meta name="kb_doc_type" content="Bug Tracker"/>
    <meta name="original_date" content="{{publishedDate}}"/>
    <meta name="updated_date" content="{{bugLastModified}}"/>
    <meta name="product" content="{{product}}"/>
    {% if (affectedModules) -%}
        {%- for module in affectedModules.split(",") -%}
    <meta name="product" content="{{product}} {{module|trim}}"/>
        {%- endfor -%}
    {%- endif %}
    <meta name="product_family" content="{{product}}"/>
    {% if (affectedModules) -%}
        {% for module in affectedModules.split(",") -%}
    <meta name="product_module" content="{{product}} {{module|trim}}"/>
        {%- endfor -%}
    {%- endif %}

    {%- set versions = knownAffectedVersions + ', ' + fixedVersions if fixedVersions else knownAffectedVersions -%}
    {%- set fixedVersions = '' if fixedVersions is none else fixedVersions -%}
    <meta name="{{product}}" content="{{versions}}"/>
    {% if (affectedModules and (knownAffectedVersions or fixedVersions)) -%}
        {% for module in affectedModules.split(",") -%}
    <meta name="{{product}} {{module|trim}}" content="{{versions}}"/>
        {%- endfor -%}
    {%- endif %}

    <meta name="bug_id" content="{{bug_id}}"/>
    <meta name="alternate_bug_id" content="ID{{bug_id}}"/>
    {% if (solutionURL) -%}
    <meta name="related_kb_id" content="{{solutionURL}}"/>
    {%- endif %}
    {% if (alternate_related_kb_id) -%}
    <meta name="alternate_related_kb_id" content="{{alternate_related_kb_id}}"/>
    {%- endif %}
    <meta name="severity" content="{{severity|e}}"/>
    <meta name="state" content="{{status|e}}"/>
    {% if (knownAffectedVersions) -%}
    <meta name="product_known_affected_versions" content="{{knownAffectedVersions}}"/>
    {%- endif %}
    {% if (fixedVersions) -%}
    <meta name="product_fix_versions" content="{{fixedVersions}}"/>
    {%- endif %}
    {% if (releaseComponent) -%}
    <meta name="fix_category" content="{{releaseComponent|e}}"/>
    {%- endif %}
    {% if (cve_ID) -%}
    <meta name="cve_ids" content="{{cve_ID}}"/>
    {%- endif %}
    {% if (vulnerabilitySeverity) -%}
    <meta name="vulnerability_severity" content="{{vulnerabilitySeverity|e}}"/>
    {%- endif %}
    <meta name="archived" content="Archived documents excluded"/>

    <title>Bug ID {{bug_id}}</title>
    <link rel=stylesheet type="text/css" href="css/bug-database.css">
    {% if not solutionURL -%}
    {% set article_style = 'display:none' %}
    {% else -%}
    {% set article_style = 'display:inline' %}
    {%- endif %}
    {% if not affectedModules -%}
    {% set affected_modules_style = 'display:none' %}
    {% set all_modules_style = 'display:inline' %}
    {% else -%}
    {% set affected_modules_style = 'display:inline' %}
    {% set all_modules_style = 'display:none' %}
    {%- endif %}
</head>

<body>
	<div class="meta-row">
        <div class="container">
            <ul class="nav">
                <li><a href="//f5.com">F5.com</a></li>
                <li><a href="//devcentral.f5.com">DevCentral</a></li>
                <li><a href="//support.f5.com">Support</a></li>
                <li><a href="//partners.f5.com">Partners</a></li>
                <li><a href="//f5.com/about-us/careers">Careers</a></li>
            </ul>
        </div>
    </div>

	<div class="main-row">
        <div class="container">
            <div class="brand">
                <a href="//f5.com"><img src="https://cdn.f5.com/digital-platforms/images/logo.svg" alt="f5 Networks" height="42" width="47"></a>
            </div>
        </div>
    </div>

	<div class="container">
		<div class="row csp-bread-crumbs">
			<div class="col-md-12">
				<ul id="breadCrumbs">
					<li>
    					<a href="https://support.f5.com/csp/home">AskF5 Home</a>
					</li>
					<li>
						<a href="https://support.f5.com/csp/bug-tracker">Bug Tracker</a>
					</li>
					<li>
						<span>ID {{bug_id}}</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 middlecontent">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<h2>Bug ID {{bug_id}}: {{externalTitle|e}}</h2>
						<p>
                            <span class="text-Proximafont standard-field">Last Modified: </span>{{bugLastModified_date}}
						</p>
					</div>
				</div>

				<div class="row csp-article-type">
					<div class="col-sm-6">
						<h5 class="bugdatabase">Bug Tracker</h5>
					</div>
				</div>

				<div class="row csp-article-version">
					<div class="col-md-12">
						<section class="container-fluid well article-version">
							<div class="row">
								<div class="col-sm-12">
									<p>
                                       <span class="text-Proximafont">Affected Product:</span>&nbsp;
                                        <a href="https://support.f5.com/csp/article/K10134038" class="product-info-link" target="_blank">See more info</a><br/>
                                        <span>{{product}} <span style="{{affected_modules_style}}">{{affectedModules}}</span><span style="{{all_modules_style}}">(all modules)</span></span>
									</p>
								</div>
							</div>
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<p class="date-container ng-binding">
							<span class="text-Proximafont standard-field">Opened: </span>{{opened_date}}<br/>

                            <span>
                                <span class="text-Proximafont standard-field">Vulnerability Severity: </span>{{vulnerabilitySeverity}}<br/>
                                <span class="text-Proximafont standard-field">CVE: </span>{{cve_ID}}

                                {% if solutionURL -%}
                                <span class="text-Proximafont standard-field" style="{{article_style}}"><br/>Related Security Advisory Article: </span>
                                {% set s = solutionURL.split(',') -%}
                                {%- for kb in s -%}
                                {%- if (loop.index0 < s|length-1): -%}
                                    <a href="{{askf5_url_root}}/{{kb|trim}}">{{kb|trim}}</a>,&nbsp;
                                {%- else -%}
                                    <a href="{{askf5_url_root}}/{{kb|trim}}">{{kb|trim}}</a>
                                {%- endif -%}
                                {%- endfor -%}
                                {%- endif %}
                            </span>
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-2">
			</div>
		</div>
	</div>

	<footer id="F5-Footer">
        <div class="container">
            <ul class="links">
                <li>
                    <input type="checkbox" class="read-more-state" id="post-1">
                    <label for="post-1" class="read-more-trigger"><span> About F5</span></label>
                    <ul class="read-more-wrap">
                         <li class="read-more-target"><a href="//f5.com/about-us">Corporate Information</a></li>
                         <li class="read-more-target"><a href="//f5.com/about-us/news">Newsroom</a></li>
                         <li class="read-more-target"><a href="//f5.com/about-us/investor-relations">Investor Relations</a></li>
                         <li class="read-more-target"><a href="//f5.com/about-us/careers">Careers</a></li>
                         <li class="read-more-target"><a href="//f5.com/about-us/contact">Contact Information</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" class="read-more-state" id="post-2">
                    <label for="post-2" class="read-more-trigger"><span> Education</span></label>
                    <ul class="read-more-wrap">
                        <li class="read-more-target"><a href="//f5.com/education/training">Training</a></li>
                        <li class="read-more-target"><a href="//f5.com/education/certification">Certification</a></li>
                        <li class="read-more-target"><a href="//f5.com/education/adn-program">ADN Program</a></li>
                        <li class="read-more-target"><a href="//university.f5.com">F5 University</a></li>
                        <li class="read-more-target"><a href="https://f5.com/education/training/free-courses">Free Online Training</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" class="read-more-state" id="post-3">
                    <label for="post-3" class="read-more-trigger"><span> F5 Sites</span></label>
                    <ul class="read-more-wrap">
                        <li class="read-more-target"><a href="//f5.com">F5.com</a></li>
                        <li class="read-more-target"><a href="//devcentral.f5.com">DevCentral</a></li>
                        <li class="read-more-target"><a href="//support.f5.com">Support Portal</a></li>
                        <li class="read-more-target"><a href="//partners.f5.com">Partner Central</a></li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" class="read-more-state" id="post-4">
                    <label for="post-4" class="read-more-trigger"><span> Connect With Us</span></label>
                    <ul class="social-media read-more-wrap">
                        <li class="read-more-target"><a href="//twitter.com/f5networks" target="_blank" data-name="twitter" data-type="" data-prefix="social" data-utf="E032" title="Twitter"><i class="icon-twitter "></i></a></li>
                        <li class="read-more-target"><a href="//www.linkedin.com/company/f5-networks" target="_blank" class="linkedin" title="LinkedIn"><i class="icon-linkedin "></i></a></li>
                        <li class="read-more-target"><a href="//www.facebook.com/f5networksinc" target="_blank" class="facebook" title="Facebook"><i class="icon-facebook "></i></a></li>
                        <li class="read-more-target"><a href="//www.youtube.com/f5networksinc" target="_blank" class="youtube" title="YouTube"><i class="icon-youtube "></i></a></li>
                        <li class="read-more-target"><a href="//devcentral.f5.com" target="_blank" class="devcentral" title="DevCentral"><i class="icon-dc-pos "></i></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="sub-footer legal-text">
                <li>© F5 Networks, Inc. All rights reserved.</li>
                <li><a href="//f5.com/about-us/policies">Policies</a></li>
				<li><a href="//f5.com/about-us/policies/privacy-policy">Privacy</a></li>
                <li><a href="//f5.com/about-us/policies/trademarks">Trademarks</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
